.container {
    position: relative;

}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69px;
    padding: var(--spacing-100) var(--spacing-125);
    background: var(--colors-neutral-800);
    gap: var(--spacing-075);
    background-color: var(--colors-neutral-800);
    border-radius: var(--corner-radius-6);

}

.dropdown-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 43px;
    right: 0;
    width: 214px;
    background: var(--colors-neutral-800);
    border-radius: var(--corner-radius-6);
    padding: var(--spacing-075) var(--spacing-100);
    z-index: 10;

    .switch-button {
        width: 182px;
        padding: var(--spacing-125) var(--spacing-100);
        color: var(--colors-neutral-0);
        text-align: left;
        margin-bottom: var(--spacing-050);
        border-radius: var(--corner-radius-8);
        background: var(--colors-neutral-700);
    }
}

.dropdown-container__section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-050);

    label {
        display: flex;
        padding: var(--spacing-075) var(--spacing-100) 0 var(--spacing-100);
        align-items: center;
        gap: 10px;
        font-style: normal;
        font-weight: 500;
        align-self: stretch;
        color: var(--colors-neutral-300);
    }

    .unitsOptions__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-050);

        button {

            width: 182px;
            padding: var(--spacing-125) var(--spacing-100);
            border-radius: var(--corner-radius-8);
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .selected {
            background: var(--colors-neutral-700);
        }
    }
}

hr {
    height: 1px;
    align-self: stretch;
    border: none;
    border-top: 1px solid var(--colors-neutral-600);
    margin: var(--spacing-050) 0;
}

.settings-icon {
    width: 14px;
    height: 14px;
    color: var(--colors-neutral-300);
}

.dropdown-icon {
    width: 12px;
    height: 18px;
    color: var(--colors-neutral-300);
}