 header {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 h1 {
   text-align: center;
   margin: var(--spacing-600) 0;
 }

 .logo {
   width: 138px;
 }

 .attribution {
   font-size: 11px;
   text-align: center;
 }

 .attribution a {
   color: hsl(228, 45%, 44%);
 }