 header {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 h1 {
   text-align: center;
   margin: var(--spacing-600) 0;
   align-self: stretch;
 }

 .search-form {
   max-width: 720px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-bottom: var(--spacing-600);
   gap: var(--spacing-150);

   .input-container {
     display: flex;
     align-items: center;
     min-width: 295px;
     position: relative;
     margin: 0;


     img {
       width: 20px;
       height: 20px;
       pointer-events: none;
       position: absolute;
       left: var(--spacing-300);
       z-index: 10;

     }

     input {
       width: 100%;
       padding: var(--spacing-200) var(--spacing-300) var(--spacing-200) calc(var(--spacing-300) + 20px + var(--spacing-200));
       border: none;
       border-radius: var(--corner-radius-12);
       background-color: var(--colors-neutral-800);
       outline: none;
     }

     input::placeholder,
     input[type="text"] {
       color: var(--colors-neutral-200);
       font-size: 20px;
       font-style: normal;
       font-weight: 500;
     }

     input:-webkit-autofill,
     input:-webkit-autofill:hover,
     input:-webkit-autofill:focus,
     input:-webkit-autofill:active {
       background-color: var(--colors-neutral-800) !important;
       -webkit-text-fill-color: var(--colors-neutral-200) !important;
       transition: background-color 0s 600000s, color 0s 600000s;
     }

   }

   .search-button {
     display: flex;
     padding: var(--spacing-200) var(--spacing-300);
     justify-content: center;
     align-items: center;
     gap: var(--spacing-200);
     align-self: stretch;
     border-radius: var(--corner-radius-12);
     background: var(--colors-blue-500, #4658D9);
   }

 }

 .weather-info {
   display: flex;
   width: 343px;
   height: 286px;
   margin: 0 auto;
   padding: var(--spacing-1000) var(--spacing-300);
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: var(--spacing-200);
   background-image: url('./assets/images/bg-today-small.svg');

   .location-info {
     display: flex;
     height: 68px;
     flex-direction: column;
     align-items: center;
     gap: 12px;
   }

   .temperature-container {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     gap: 20px;

     .temperature-icon {
       width: 120px;
       height: 120px;
     }
   }
 }

 .weather-variables {
   margin: var(--spacing-250) auto;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   gap: 16px var(--spacing-200, 16px);
   align-self: stretch;
   flex-wrap: wrap;

 }

 .daily-forecast-container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: var(--spacing-250, 20px);
   align-self: stretch;
 }

 .daily-forecast {
   display: flex;
   align-items: center;
   /* justify-content: center; */
   gap: var(--spacing-200, 16px);
   align-self: stretch;
   flex-wrap: wrap;
 }

 h2 {
   color: var(--colors-neutral-0, #FFF);
   /* 24px */
 }

 .logo {
   width: 138px;
 }


 .attribution {
   font-size: 11px;
   text-align: center;
 }

 .attribution a {
   color: hsl(228, 45%, 44%);
 }